<div class="container">
    <div class="info__container">
        <div class="location__container">
            <h1 class="page__title">Ubicación</h1>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.068280140347!2d-68.11417988461972!3d-16.52265018860222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f20ee187a3103%3A0x2f2bb2b7df32a24d!2sUniversidad%20Cat%C3%B3lica%20Boliviana!5e0!3m2!1sen!2sbo!4v1652926639487!5m2!1sen!2sbo"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="form__container">
            <h1 class="page__title">Comentarios y Sugerencias</h1>
            <div class="input__container">
                <mat-form-field class="form__input" appearance="fill">
                    <mat-label>Nombres:</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="form__input" appearance="fill">
                    <mat-label>Apellidos:</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="input__container">
                <mat-form-field class="input--full" appearance="fill">
                    <mat-label>Comentarios y Sugerencias</mat-label>
                    <textarea matInput placeholder="Déjanos tus comentarios y sugerencias"></textarea>
                </mat-form-field>
            </div>
            <div class="button__container"><button mat-raised-button color="accent">Enviar</button></div>
        </div>
    </div>
    <h1 class="page__title">Acerca de Nosotros</h1>
    <div class="cards__container">
        <mat-card>
            <mat-card-header class="card__header">
                <mat-card-title>Misión</mat-card-title>
                <mat-card-subtitle>Desarrollar con transparencia y eficiencia la administración de la cadena productiva
                    del cacao
                    orgánico</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/img/card1.jpg" alt="Cacao" class="card__image">
            <mat-card-content>
                <p>
                    Bajo principios de unidad, sostenibilidad, justicia social y equidad. Con recursos humanos propios
                    formados bajo la filosofía del cooperativismo, cuyo fin es resolver las necesidades de las
                    cooperativas afiliadas y sus socios. Contribuyendo al desarrollo Regional y Nacional.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header class="card__header">
                <mat-card-title>Visión</mat-card-title>
                <mat-card-subtitle>Constituirse competitivamente como una organización modelo del país.
                </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/img/card2.jpg" alt="Chocolate" class="card__image">
            <mat-card-content>
                <p>
                    Dentro la cadena productiva agro industrial del cacao orgánico y otros productos. Bajo criterios de
                    sostenibilidad económica, social y medio ambiental. Satisfaciendo las necesidades de sus asociados y
                    productores del rubro, con autogestión propia bajo la filosofía del cooperativismo.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="social__container">
        <h1 class="page__title">Encuéntranos en Redes Sociales</h1>
        <div class="buttons__container">
            <button mat-fab color="accent">
                <mat-icon>facebook</mat-icon>
            </button>
            <button mat-fab color="accent">
                <mat-icon>whatsapp</mat-icon>
            </button>
            <button mat-fab color="accent">
                <mat-icon>facebook</mat-icon>
            </button>
            <button mat-fab color="accent">
                <mat-icon>whatsapp</mat-icon>
            </button>
        </div>
    </div>
</div>