<mat-toolbar color="primary" class="footer">
    <a href="#" class="link--home">Chocobol</a>
    <div class="footer__links">
        <a mat-button href="home">Inicio<mat-icon size="20">home</mat-icon></a>
        <a mat-button href="catalogo">Productos<mat-icon size="20">add_shopping_cart</mat-icon></a>
        <a mat-button href="compra">Carrito <mat-icon size="20">shopping_cart</mat-icon></a>
        <a mat-button href="contactanos">Contactos<mat-icon size="20">phone</mat-icon></a>
    </div>
</mat-toolbar>