<mat-card class="product-card">
    <mat-card-header>
        <mat-card-title class="product-card__title">
            {{title}}
        </mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{imgSrc}} alt={{title}} />
    <mat-card-content>
        <p>{{description}}</p>
        <h2 class="product-card__price">Precio: ${{price}}</h2>
        <div class="product-card__counter">
            <app-product-counter id={{id}}></app-product-counter>
        </div>
    </mat-card-content>
</mat-card>