.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.counter__buttons {
    display: flex;
    justify-content: center;
}

.counter__buttons span {
    margin: auto 20px;
}

.counter__submit {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}