<div class="home__container">
    <h1 class="page__title">Nuestras Ofertas</h1>
    <div class="sale__container">
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Chocolate Classics Gift Basket
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/img/products/15.jpg" alt="Chocolate Classics Gift Basket" />
            <mat-card-content>
                <p>The perfect gift for any occasion. Contains an assortment of Lindt favorites from LINDOR, EXCELLENCE, imported and domestic pralines. Comes "gift ready" wrapped in clear plastic and tied with a satin bow.</p>
                <h2 class="product-card__price">Precio: $44.99</h2>
                <div class="button__container"><button class="product-card__button" mat-raised-button color="accent" (click)="redirect()">Comprar</button></div>
            </mat-card-content>
        </mat-card>
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title class="product-card__title">
                    Caramel Milk Chocolate LINDOR Truffles Box (60-pc, 25.4 oz)
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/img/products/19.jpg" alt="Chocolate Classics Gift Basket" />
            <mat-card-content>
                <p>Each bulk case contains 60 Caramel Milk Chocolate LINDOR truffles featuring a milk chocolate shell with smooth melting milk chocolate caramel center.</p>
                <h2 class="product-card__price">Precio: $20.99</h2>
                <div class="button__container"><button class="product-card__button" mat-raised-button color="accent" (click)="redirect()">Comprar</button></div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="cards__container">
    <mat-card>
        <mat-card-header class="card__header">
            <mat-card-title>Misión</mat-card-title>
            <mat-card-subtitle>Desarrollar con transparencia y eficiencia la administración de la cadena productiva
                del cacao
                orgánico</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/img/card1.jpg" alt="Cacao" class="card__image">
        <mat-card-content>
            <p>
                Bajo principios de unidad, sostenibilidad, justicia social y equidad. Con recursos humanos propios
                formados bajo la filosofía del cooperativismo, cuyo fin es resolver las necesidades de las
                cooperativas afiliadas y sus socios. Contribuyendo al desarrollo Regional y Nacional.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header class="card__header">
            <mat-card-title>Visión</mat-card-title>
            <mat-card-subtitle>Constituirse competitivamente como una organización modelo del país.
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/img/card2.jpg" alt="Chocolate" class="card__image">
        <mat-card-content>
            <p>
                Dentro la cadena productiva agro industrial del cacao orgánico y otros productos. Bajo criterios de
                sostenibilidad económica, social y medio ambiental. Satisfaciendo las necesidades de sus asociados y
                productores del rubro, con autogestión propia bajo la filosofía del cooperativismo.
            </p>
        </mat-card-content>
    </mat-card>
</div>